---
import BLogPost from "../../components/BLogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
  );
  const tags = [
    ...new Set(posts.flatMap((post: any) => post.frontmatter.tags)),
  ];
  return tags.map((tag: any) => {
    const filteredPosts = posts.filter((post: any) =>
      post.frontmatter.tags?.includes(tag),
    );
    return { params: { tag }, props: { posts: filteredPosts } };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={`Posts tagged with ${tag}`}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: any) => (
        <BLogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
