---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.vue";

const pageTitle = "Orbital Orbit";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>

  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
