---
const platform = "GitHub"
const username = "rjNemo"
const url = `https://ruidy.nemausat.com`
---
<footer>
  <p>© 2023 Ruidy – Learn more about my projects on <a href={`https://github.com/${username}`}>{platform}</a> and my <a href={url}>website</a>.</p>
</footer>
